@using ClkCam.Helper
@model ClkCam.Models.Products

@{
    ViewBag.Title = "ProductDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="page-header page-header-modern bg-color-light-scale-1 page-header-md ">
    <div class="container-fluid">
        <div class="row align-items-center">

            <div class="col">
                <div class="row">
                    <div class="col-md-12 align-self-center p-static order-2 text-center">
                        <div class="overflow-hidden pb-2">
                            <h1 class="text-dark font-weight-bold text-9 appear-animation" data-appear-animation="maskUp" data-appear-animation-delay="100">@Model.Title</h1>
                        </div>
                    </div>
                    <div class="col-md-12 align-self-center order-1">
                        <ul class="breadcrumb d-block text-center appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="300">
                            <li><a href="/Anasayfa">Anasayfa</a></li>
                            <li><a href="/Urunler">Ürünler</a></li>
                            <li><a href="/Urunler/@SeoHelper.ToSeoUrl(@ViewBag.ProductCategory.Category.CategoryName).ToLower()/@ViewBag.ProductCategory.Category.CategoryId">@ViewBag.ProductCategory.Category.CategoryName</a></li>
                            <li><a href="/Urunler/@SeoHelper.ToSeoUrl(@Model.Title).ToLower()-@Model.ProductId">@Model.Title</a></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<div class="container py-4">

    <div class="row">
        <div class="col appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="300">

            <div class="owl-carousel owl-theme nav-inside nav-inside-edge nav-squared nav-with-transparency nav-dark nav-lg d-block overflow-hidden" data-plugin-options="{'items': 1, 'margin': 10, 'loop': false, 'nav': true, 'dots': false, 'autoHeight': true}" style="height: 510px;">
                <div>
                    <div class="img-thumbnail border-0 border-radius-0 p-0 d-block">
                        <img src="@Model.ImgUrl" style="height:460px" class="img-fluid border-radius-0" alt="@Model.Title">
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="row pt-4 mt-2 mb-5">
        <div class="col-md-7 mb-4 mb-md-0">

            <h2 class="text-color-dark font-weight-normal text-5 mb-2"> <strong class="font-weight-extra-bold">@Model.Title</strong></h2>

            <p>@Html.Raw(Model.Content)</p>


            <hr class="solid my-5">

        </div>
        <div class="col-md-5">
            <h2 class="text-color-dark font-weight-normal text-5 mb-2"> <strong class="font-weight-extra-bold">Detay</strong></h2>
            <ul class="list list-icons list-primary list-borders text-2">
                <li><i class="fas fa-caret-right left-10"></i> <strong class="text-color-primary">Başlık:</strong> @Model.Title</li>
                <li>
                    <i class="fas fa-caret-right left-10"></i> <strong class="text-color-primary">Etiketler:</strong>
                    @foreach (var item in Model.Tag.Split(','))
                    {

                        <span class="badge badge-dark badge-sm rounded-pill px-2 py-1 ms-1">@item</span>
                    }
                </li>

                <a href="https://wa.me/@ViewBag.Contact.Whatsapp?text=Merhaba%20,@Model.Title%20ürünü%20ile%20ilgili%20bilgi%20almak%20istiyorum" target="_blank" title="Whatsapp" style="margin-left: 5%">
                     <img src="~/Content/SiteLayout/img/icons8-whatsapp.gif" style="height: 100px"/>
                </a>

            </ul>
        </div>
    </div>

</div>
